<div class="panel panel-default panel-info">
    <div class="panel-heading">Positions <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Positions</h4>
            <br/>

            <p>
                Positions are relative to what you have selected.
                <b class="text-bold-blue">elem[n]</b> selects the <b>n'th</b> element <b>elem</b> in the current
                context.
                <br/><br/>

                Maybe you just want to select the second row, so you need an xpath to identify the checkbox object from the second row.

                <br><br><br>Use <b class="text-bold-blue">[n]</b> to select the cell in the table <b class="text-bold-blue">table</b>, under node <b class="text-bold-blue">tbody</b> identified by:<br><br>
                - <b class="text-bold-blue">tr</b> that:
                    <div style = "text-indent: 2em;"> -> does not have an attribute <b class="text-bold-blue">class</b> that contains the value <b class="text-bold-blue">'prototype'</b></div>
                    <div style = "text-indent: 2em;"> -> does not have an attribute <b class="text-bold-blue">class</b> that contains the value 'empty'</b></div>
                    <div style = "text-indent: 2em;"> -> has <b class="text-bold-blue">index</b> equal to <b class="text-bold-blue">2</b></div> <br>
                - <b class="text-bold-blue">input</b> with an <b class="text-bold-blue">attribute</b> type equal to <b class="text-bold-blue">'checkbox'</b> under a <b class="text-bold-blue">td</b>
            <br><br>
            in the <b class="text-bold-black">current context</b>
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control" ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">

                <table class="table table-condensed">
                    <thead>
                    <tr class = 'row'>
                        <th>
                            <input type ='checkbox'>
                        </th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class = "row prototype" style = "display: none"></tr>
                    <tr class = "row empty" style = "display: none"></tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>Natasha</td>
                        <td>Spring</td>
                        <td>natasha_spring</td>
                    </tr>
                    <tr class = "row">
                        <td style = "background-color: #DCDCDC"><input type ='checkbox'><input style = "display: none"></td>
                        <td>John</td>
                        <td>Summer</td>
                        <td>john_summer</td>
                    </tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>Mark</td>
                        <td>Autumn</td>
                        <td>mark_autumn</td>
                    </tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>Suzie</td>
                        <td>Winter</td>
                        <td>suzie_winter</td>
                    </tr>

                    </tbody>
                    <tr>

                    </tr>
                </table>

            </div>

            <br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:

            <p class="text-view-line-short">the <b>checkbox</b> from the checkboxes column on the <b>second</b> row.
            </p>
        </div>
    </div>
</div>