<div class="panel panel-default panel-info">
    <div class="panel-heading">Attributes <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Attributes</h4>
            <br/>

            <p>
                <b  class="text-bold-blue">@</b> is the syntax used for referring to attributes.
                <br><b  class="text-bold-blue">@attr </b>- refers to the attribute 'attr'

                </br></br>You may use an attribute as condition for the <b class="text-bold-black">predicate</b> to specify that the element that you want to select uses that attribute.
                <br/><br/>
                <b class="text-view">Example:</b><br/><br/>

                <b class="text-view">elem[@attr]</b> - all elements <b>elem</b> that contain the attribute <b class="text-bold-black">@attr</b>

                <br><br><br>Use <b  class="text-bold-blue">[....]</b>, <b class="text-bold-blue">@</b> to select all the <b  class="text-bold-blue">input</b> elements that
                have the attribute <b class="text-bold-blue">id</b> in the <b class="text-bold-black">current context</b>.
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label> Add your name:</label>

                <div class="form-group" id="forName">
                    <label for="exampleName" class="selectMe">Name</label>
                    <input type="text" class="form-control input" id="exampleName"
                           placeholder="Enter your name">
                </div>

                <label> Add your adress:</label>

                <div class="form-group" id="forAddress">
                    <label for="exampleAddress" class="selectMe">Address</label>
                    <input type="text" class="form-control input" id="exampleAddress"
                           placeholder="Enter your address">
                </div>
                <div>
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>

            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:
            <p  class="text-view-line-short">the <b>edit</b> under the Name: label</p>
            <p class="text-view-line-short">the <b>edit</b> under the Address: label</p></p>
            </p>

            </div>
    </div>
</div>
