<div class="panel panel-default panel-info">
    <div class="panel-heading">Recap <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Recap</h4>
            <br/>

            <p>
                Select the objects(s) that are suggested under the <b class="text-bold-blue">Html view
            </b>section

            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p>

            </p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">

                <ul>
                    <li>Menu 1
                        <ul>
                            <li>
                                <select>
                                    <option value="Fish and Chips">Fish and Chips</option>
                                    <option value="Soup">Soup</option>
                                    <option value="Fruit Salad">Fruit Salad</option>
                                </select>
                            </li>
                        </ul>
                    </li>
                    <li>Menu 2
                        <ul>
                            <li>
                                <select>
                                    <option value="Potatos">Potatos</option>
                                    <option value="Fresh">Fresh</option>
                                 </select>
                            </li>
                        </ul>
                    </li>
                    <li>Menu 3
                        <ul>
                            <li>
                                <select>
                                    <option value="Chicken Soup">Chicken Soup</option>
                                    <option value="Potatos">Potatos</option>
                                    <option value="Cake">Cake</option>
                                </select>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:</p>

            <p class="text-view-line-short">the <b>Menus</b> which contains <b>Soup</b> item inside their dropdown.
            </p>
        </div>
    </div>
</div>