<div class="panel panel-default panel-info">
    <div class="panel-heading">Positions <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Positions</h4>
            <br/>

            <p>
                Positions are relative to what you have selected.
                <b class="text-bold-blue">elem[n]</b> selects the <b>n'th</b> element <b>elem</b> in the current
                context.
                <br/><br/>

                <b class="text-view">Example:</b><br/><br/>

                <b class="text-view">div/elem[2]</b> - the second element <b>elem</b> from under the <b>div</b> elements
                in the current context.
                All the selected elements will be on the same level: first level under div. <br><br>
                <b class="text-view">div//elem[2]</b> - the second element <b>elem</b> from any level under the
                <b>div</b> elements in the current context.
                All the selected elements may be on multiple levels under div.

                <br><br><br>Use <b class="text-bold-blue">[n]</b> to select the 4th <b
                    class="text-bold-blue">td</b> from the 2nd <b class="text-bold-blue">tr</b> under
                the <b class="text-bold-blue">tbody</b> element in the table <b class="text-bold-blue">table</b>, in the <b class="text-bold-black">current context</b>

            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Natasha</td>
                        <td>Spring</td>
                        <td>natasha_spring</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>John</td>
                        <td>Summer</td>
                        <td>john_summer</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Mark</td>
                        <td>Autumn</td>
                        <td>mark_autumn</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Suzie</td>
                        <td>Winter</td>
                        <td>suzie_winter</td>
                    </tr>

                    </tbody>
                    <tr>

                    </tr>
                </table>

            </div>

            <br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:

            <p class="text-view-line-short">the cell from the <b>second row</b> under the <b>User Name</b> column.
            </p>
        </div>
    </div>
</div>