<div class="panel panel-default panel-info">
    <div class="panel-heading">Predicates. Child elements <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Predicates</h4>
            <br/>

            <p>
                <b class="text-bold-blue">[...]</b> is the syntax for a predicate. It is used to restrict a node-set to
                select only those nodes for which some condition, an expression converted to boolean, is true.
                <br><br>This expression may be a node, an attribute, a number, a function, a comparison, a boolean expression.
                <br><br>
                <h4>Child elements</h4>

                </br>You may use a node as condition for the predicate to specify that the element that you want to select has that node as a child.
                <br/><br/>
                <b class="text-view">Example:</b><br/><br/>

                <b class="text-view">elem[child1]</b> - all elements <b>elem</b> that contain at least one child element
                <b>child1</b>
                </br></br>
                <b class="text-view">elem[child1][child2]</b> - all elements <b>elem</b> that contain at least one child
                element <b>child1</b> and at least one child element <b>child2</b>

                <br><b class="small">Note: There are two predicates here. Each predicate is filtered by the next.</b>
            </p>
            <br/>
            Use <b class="text-bold-blue">[....]</b> to select all the <b class="text-bold-blue">div</b> elements that contain a
            child element <b class="text-bold-blue">label</b> and a child element <b class="text-bold-blue">input</b> in the <b class="text-bold-black">current context</b>.
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label> Add your name:</label>

                <div class="form-group" id="forName">
                    <label for="exampleName" class="selectMe">Name</label>
                    <input type="text" class="form-control input" id="exampleName"
                           placeholder="Enter your name">
                </div>

                <label> Add your adress:</label>

                <div class="form-group" id="forAddress">
                    <label for="exampleAddress" class="selectMe">Address</label>
                    <input type="text" class="form-control input" id="exampleAddress"
                           placeholder="Enter your address">
                </div>
                <div>
                    <label>
                        <input type="checkbox"> I am a label, but not yours since there's no input with me
                    </label>
                </div>
            </div>
            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:
            <p  class="text-view-line-short">section containing the <b>label</b> & <b>input</b> under Add your name:</p>
            <p class="text-view-line-short">section containing the <b>label</b> & <b>input</b> under Add your address:</p>
            </p>
        </div>
    </div>
</div>

