<div class="panel panel-default panel-info">
    <div class="panel-heading">Recap <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Recap</h4>
            <br/>

            <p>
                Select the objects(s) that are suggested under the <b class="text-bold-blue">Html view
            </b>section

            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">

                <table class="table table-condensed">
                    <thead>
                    <tr class = 'row'>
                        <th>
                            <input type ='checkbox'>
                        </th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Personal Car</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class = "row prototype" style = "display: none"></tr>
                    <tr class = "row empty" style = "display: none"></tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>John</td>
                        <td>Spring</td>
                        <td>
                            <select>
                                <option value="volvo">Volvo</option>
                                <option selected="selected" value="saab">Saab</option>
                                <option value="audi">Audi</option>
                            </select>
                        </td>
                    </tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>John</td>
                        <td>Summer</td>
                        <td>
                            <select style = "background-color: #DCDCDC">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option selected="selected" value="audi">Audi</option>
                            </select>
                        </td>
                    </tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>Mark</td>
                        <td>Autumn</td>
                        <td>
                            <select>
                                <option selected="selected" value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="audi">Audi</option>
                            </select>
                        </td>
                    </tr>
                    <tr class = "row">
                        <td><input type ='checkbox'></td>
                        <td>Suzie</td>
                        <td>Winter</td>
                        <td>
                            <select>
                                <option value="volvo">Volvo</option>
                                <option selected="selected" value="saab">Saab</option>
                                <option value="audi">Audi</option>
                            </select>
                        </td>
                    </tr>

                    </tbody>
                    <tr>

                    </tr>
                </table>

            </div>

            <br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:

            <p class="text-view-line-short">the <b>selected option</b> from the <b>Personal Car dropdown</b> for <b>John Summer</b>.
            </p>
        </div>
    </div>
</div>