<div class="panel panel-default panel-info">
    <div class="panel-heading">Child elements <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Predicates: child elements</h4>
            <br/>

            <p>
                <b class="text-bold-blue">[...]</b> is the syntax for a predicate. It is used to restrict a node-set to
                select only those nodes for which some condition is true

            </p>
            <br/><br/>
            At the previous step we have selected the <b class="text-bold-black">div</b> that contained an element <b class="text-bold-black">label</b> which contained an element <b class="text-bold-black">input</b>.
            <br><br>What if we want to select the label and not the div?
            <br><br>Use <b class="text-bold-blue">/</b>, <b class="text-bold-blue">[....]</b> to select the <b class="text-bold-blue">label</b> that is located under a <b class="text-bold-blue">div</b> element and
            contains a child element <b class="text-bold-blue">input</b> in the <b class="text-bold-black">current context</b>.
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label> Add your name:</label>

                <div class="form-group" id="forName">
                    <label for="exampleName" class="selectMe">Name</label>
                    <input type="text" class="form-control input" id="exampleName"
                           placeholder="Enter your name">
                </div>

                <label> Add your adress:</label>

                <div class="form-group" id="forAddress">
                    <label for="exampleAddress" class="selectMe">Address</label>
                    <input type="text" class="form-control input" id="exampleAddress"
                           placeholder="Enter your address">
                </div>
                <div>
                    <label>
                        <input type="checkbox"> I am a your label now and its me you want to put your hands on!
                    </label>
                </div>
            </div>
            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:
            <p  class="text-view-line-short">label <br/>"I am a your label now and its me you want to put your hands on!"</p>
            </p>
        </div>
    </div>
</div>

