<div class="panel panel-default panel-info">
    <div class="panel-heading">Resurrect <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Resurrect</h4>
            <br/>

            <p>
                <br><br><br>Use <b  class="text-bold-blue">=</b>, <b  class="text-bold-blue">not()</b>, <b  class="text-bold-blue">contains()</b> to select in the <b class="text-bold-black">current context</b>
                the <b  class="text-bold-blue">label</b> elements that:
                    <br> - are under <b class="text-bold-blue">div</b> parent with <b class="text-bold-blue">id</b> equal to <b class="text-bold-blue">'forAddress'</b>
                    <br> - have attribute <b class="text-bold-blue">class</b> not containing the value <b class="text-bold-blue">doNot</b>.
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label class='selectMe'> Add your name:</label>

                <div class="form-group" id="forName">
                    <label class="enter first">First name</label>
                    <input type="text" class="form-control input"
                           placeholder="Enter your first name">
                    <label class="enter last">Last name</label>
                    <input type="text" class="form-control input"
                           placeholder="Enter your last name">
                    <label class="doNot enter">Your name is mandatory</label>
                </div>
                <br>
                <label class = 'selectMe'> Add your address:</label>

                <div class="form-group" id="forAddress">
                    <label class="enter first">Home address</label>
                    <input type="text" class="form-control input"
                           placeholder="Enter your address">
                    <label class="enter last">Company address</label>
                    <input type="text" class="form-control input"
                           placeholder="Enter your address">
                    <label class="doNot enter">Your address is mandatory</label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" id='rememberMe' > Remember me
                    </label>
                </div>
            </div>

            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:
            <p  class="text-view-line-short">the label <b>Home address</b></p>
            <p class="text-view-line-short">the label <b>Company address:</b></p>
            </p>

        </div>
    </div>
</div>
