<div class="panel panel-default panel-info">
    <div class="panel-heading">Select any node <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Step</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Select any node</h4>
            <br/>

            <p>
                <b class="text-bold-blue">*</b> matches any element node.
                <br/><br/>
                Use <b class="text-bold-blue">*</b> to select all children on the <b>first level</b> of <b  class="text-bold-blue">div</b>  elements in the <b>current context</b>.
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label> Add your name:</label>

                <div class="form-group" id="forName">
                    <label for="exampleName">Name</label>
                    <input type="text" class="form-control input" id="exampleName"
                           placeholder="Enter your name">
                </div>

                <label> Add your adress:</label>

                <div class="form-group" id="forAddress">
                    <label for="exampleAddress">Address</label>
                    <input type="text" class="form-control input" id="exampleAddress"
                           placeholder="Enter your address">
                </div>

            </div>
            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form:
            <p class="text-view-line-short"><b>label</b> & <b>input</b> under Add your name:</p>
            <p  class="text-view-line-short"><b>label</b> & <b>input</b> under Add your address:</p>
            </p>
        </div>
    </div>
</div>

