<div class="panel panel-default panel-info">
    <div class="panel-heading">Context: document root <a href ng-click="goToHome()" class = "pull-right">Home</a></div>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3 class="lead text-primary">Steps</h3>
            <h4 id='guide'>{{getCurrentStep()}} of {{lastStep}}</h4>
            <h4>Select elements based on hierarchy in the entire document</h4>
            <br/>

            <p>
                <b class="text-bold-blue">//</b> indicates a search that can include zero or more levels of hierarchy.
                <br>
                <b class="text-bold-blue">/</b> indicates a search that includes only one level of hierarchy
                <br/><br/>
                Use <b class="text-bold-blue">//</b>, <b class="text-bold-blue">/</b> to select all the elements <b
                    class="text-bold-blue">label</b> <b class="text-bold-black">on the first level under a parent </b><b class="text-bold-blue">div</b> in the <b class="text-bold-black">entire document</b>
                <br><br>
                <b class="small">Note that searching in the entire document will give you different results than you got at the
                    previous step. This is because the context does not relate anymore to the div containing the html form; the context is now the root of the document</b>
            </p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <h3 class="lead text-primary"> Html source </h3>

            <div id="output" html-visualizer expected-selection="expectedXpath" current-selection="xpath"
                 is-match="match" source="{{htmlSourceId}}"></div>

            <p class="text-purple">Scroll if necessary to see what you've selected!</p>

            <div class="form-group" id="xpath-form">
                <label>Type the xpath here:</label>
                <input type="text" class="form-control long-input " ng-model="xpath" ng-class="validateXpath()"
                       placeholder="Enter the xpath"/>
            </div>

            <p></p>

            <div class="match" ng-show="match">Good job!</div>

        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <h3 class="lead text-primary"> Html view </h3>

            <div id="test-example">
                <label> Add your name:</label>

                <div class="form-group">
                    <label for="exampleName">Name</label>
                    <input type="text" class="form-control input" id="exampleName"
                           placeholder="Enter your name">
                </div>

                <label> Add your adress:</label>

                <div class="form-group">
                    <label for="exampleAddress">Address</label>
                    <input type="text" class="form-control input" id="exampleAddress"
                           placeholder="Enter your address">
                </div>
                <div>
            <span>
                <label>
                    <input type="checkbox"> I am not your label
                </label>

            </span>
                </div>
            </div>
            <br><br>

            <p class="text-view">Write an xpath to select the highlighted objects in the form: <br>
            <p class="text-view-line-short">Add your name:</p>
            <p class="text-view-line-short">Name:</p>
            <p class="text-view-line-short">Add your address:</p>
            <p class="text-view-line-short">Address:</p>
            </p>
        </div>
    </div>
</div>

